html {
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
}

.doc-off section {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section.content {
    background-color: white;
    min-height: 300px;
}

.section.menu {
    background-color: #333;
}

.section.footer {
    background-color: black;
    width: 100%;
    color: white;
}

.contained-width {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

@media only screen and (min-width: 769px) {
    .contained-width {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

picture {
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.header__image img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer .footer__left {
    grid-column: 1 / 2;
}

.footer .footer__right {
    grid-column: 2 / 3;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: white;
    color: black;
}

.menu .active {
    background-color: white;
    color: black;
}